footer{
  background-image: radial-gradient(1031em 33em, #D2E4FF, #D9E9FE, #F4F8FC);
  .section{
    &-footer-contacts{
      padding-top: 130px;
      margin-bottom: 69px;
      &-title{
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: $black_text;
        margin-bottom: 32px;

      }
      &-content{
        text-align: center;
        &-text{
          font-weight: 500;
          font-size: 24px;
          line-height: 120%;
          text-align: center;
          color: $black_text;
        }
        &-phone{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 21px;
          .social{
            &-list{
              display: flex;
              flex-direction: row;
              gap: 10px;
            }
            margin-right: 15px;
          }
          .phone-number{
            font-weight: 800;
            font-size: 48px;
            line-height: 120%;
            text-align: center;
            color: $black_text;

          }
        }
      }

    }

    &-footer-request{
      margin-bottom: 164px;
      .request-form{
        background: rgba(0, 25, 64, 0.2);
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.03);
        border-radius: 8px;
        padding: 57px 123px;
        width: 100%;
        &-title{
          font-weight: 700;
          font-size: 20px;
          line-height: 120%;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 21px;
        }

        &-fields{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 22px;
          margin-bottom: 26px;
          &-group{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 32px;
          }

          &-input{
            background: #FFFFFF;
            border: 1px solid #B3C8DB;
            border-radius: 4px;
            width: 100%;
            max-height: 48px;
            height: 100%;
            padding: 17px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: $gray_text-2;
          }

          &-textarea{
            background: #FFFFFF;
            border: 1px solid #B3C8DB;
            border-radius: 4px;
            width: 100%;
            max-height: 128px;
            height: 100%;
            padding: 17px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: $gray_text-2;
          }


        }

        &-sub{
          display: grid;
          grid-template-columns: 1fr max-content;
          gap: 25px;

          &-agree{

            input[type="checkbox"]{
              display: none;
            }

            label {
              color: #000;
              cursor: default;
              font-weight: normal;
              line-height: 30px;
              padding: 10px 0;
              vertical-align: middle;
              display: flex;
              gap: 10px;
            }

            /* формируем внешний вид чекбокса в псевдоэлементе before */
            label:before {
              content: " ";
              display: inline-block;
              font: 20px/21px Arial;
              position: relative;
              text-align: center;
              text-indent: 0px;
              min-width: 22px;
              height: 22px;
              background: #FFF;
              border-image: initial;
              vertical-align: middle;
              border: 1px solid #B3C8DB;
              border-radius: 5px;
            }

            /* вариации внешнего вида в зав-ти от статуса checkbox */
            /* checked */
            input:checked + label:before {
              content: url("/img/check.svg");
              background: $brand_blue;
              border: 1px solid $brand_blue;
            }

            /* disabled */
            input:disabled + label:before {
              background: #aaa;
              color: #aaa;
            }

            label{
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              color: $gray_text;
            }

          }

          &-submit{
            .btn{
              padding: 10px 20px;
            }

          }
        }

      }
    }

    &-main-footer{
      .copyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        &-block{
          span{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
          }
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 18px;
        }
        p{
          max-width: 850px;
          span{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
          }
        }
        .social{
          &-items{
            display: flex;
            flex-direction: row;
            gap: 20px;
          }
        }
      }

      .info {
        margin-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $gray_text-2;
        gap: 58px;

        p {
          max-width: 850px;
        }

        .creators {
          white-space: nowrap;
          text-align: right;

          a {
            text-decoration: none;
            color: #757575;

            span {
              font-size: 0.929rem;
              display: inline-block;
              vertical-align: middle;
              margin-right: 13px;
            }

            svg {
              display: inline-block;
              vertical-align: middle;
              position: relative;
              margin-top: 6px;

              path {
                transition: all .25s ease-out !important;

                &.path-color {
                  fill: #1772E1;
                }
              }
            }

            &:hover {
              color: #363333;

              svg {
                path {
                  &.path-arrow {
                    fill: $accent_orange;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1024px){

      &-main-footer{
        .copyright{
          &-block{
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 24px;
          }
          justify-content: center;
          margin-bottom: 15px;
          p{
            max-width: unset;
            width: 100%;
          }
        }
        .info{
          p{
            max-width: unset;
          }
          justify-content: center;
        }
      }

    }

    @media (max-width: 950px){
      &-footer-request{
        margin-bottom: 50px;
        .request-form{
          padding: 50px;
        }

      }
    }

    @media (max-width: 768px){
      &-footer-request{
        .request-form{
          &-fields{
            grid-template-columns: 1fr;
            &-group{
              gap: 22px;
            }
          }
          &-sub{
            grid-template-columns: 1fr;
            justify-items: center;
          }
        }
      }
    }

    @media (max-width: 320px){
      &-footer-request{
        .request-form{
          padding: 25px;
          &-fields{
            &-group{
            }
          }
          &-sub{
            &-submit{
              .btn{
                padding: 13px 23px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 425px){
      &-footer-contacts{
        margin-bottom: 32px;
        padding-top: 100px;
        &-title{
          font-size: 24px;
        }
        &-content{
          &-text{
            font-size: 20px;
          }
          &-phone{
            margin-top: 10px;
            flex-direction: column;
            gap: 20px;
            .phone-number{
              font-size: 24px;
            }
          }
          &-subtext{
            font-size: 18px;
            color: $gray_text;
          }
        }
      }

      &-footer-request{
        .request-form{
          padding: 25px;
          &-fields{
            &-group{
            }
          }
          &-sub{

          }
        }
      }
    }

  }
}