header{
  margin-top: 40px;
  margin-bottom: 47px;
  .header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    width: 100%;

    .logo{
      display: flex;
      align-items: center;

      &-text{
        margin-left: 27px;

        &-title{
          font-weight: 700;
          font-size: 24px;
          line-height: 100%;
          color: $black_text;
        }
        &-subtitle{
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #7E92AE;
          margin-top: 15px;
        }

      }

    }

    .contacts{
      display: flex;
      align-items: flex-start;

      .social{

        &-items{
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }

        &-item{

        }

      }

      .phone{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 40px;
        &-number{
          font-weight: 700;
          font-size: 20px;
          line-height: 160%;
          color: $black_text;
          margin-bottom: 10px;
          &:hover{
            color: $accent_orange;
          }
        }

      }
    }
  }

  .menu {
    border-bottom: 1px solid $gray_line;
    border-top: 1px solid $gray_line;
    display: flex;
    justify-content: center;
    &-list{
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      column-gap: 53px;
      row-gap: 12px;
      list-style-type: none;
      margin: 0;
      width: 100%;
      justify-content: space-between;
      padding: unset;
    }
    &-item{
      padding: 10px 3px;
      a{
        color: #424242;
        font-weight: 500;
        &:hover{
          color: $accent_orange;
        }
      }

      &.active{
        a{
          color: $gray_text-2;
        }
        border-bottom: 2px solid $gray_text-2;
      }

      .submenu{
        z-index: 1000;
        position: absolute;
        display: none;
        padding: 40px;
        background-color: #FFFFFF;
        margin-top: 11px;
        &-item{
          list-style-type: none;
          a{
            font-weight: 700;
            font-size: 18px;
            line-height: 160%;
            color: #7E92AE;
            &:hover{
              color: $accent_orange;
            }
          }

          &.active{
            a{
              color: $accent_orange;
            }
          }

          .submenuTree{
            padding: 5px 15px;

            &-item {
              list-style-type: none;
              a{
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                &:hover{
                  color: $accent_orange;
                }
              }

              &.active{
                a{
                  color: $accent_orange;
                }
              }

            }

          }

        }
      }
    }

  }

  @media (max-width: 1366px) {
    margin-top: 28px;
    margin-bottom: 32px;
    .header-inner{
      margin-bottom: 19px;
      .logo{
        align-items: flex-start;
        &-img{
          width: 40px;
          height: 40px;
        }
      }
    }
    .menu {
      border-bottom: none;
      &-list{
        display: none;
      }
    }
  }

  @media (max-width: 1024px) {
    .header-inner{
      .logo{
        &-text{
          &-title{
            margin-top: unset;
            font-size: 18px;
          }
          &-subtitle{
            font-size: 16px;
          }
        }
      }
      .contacts{
        .phone{
          margin-left: 18px;
          &-number{
            font-size: 18px;
          }
        }
      }
    }
  }

  .slide-menu{
    .sidebar::-webkit-scrollbar {
      display: none;
    }
    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      background-color: #fff;
      transition: 0.5s;
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: 1fr;
      overflow: auto;

      &-top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 60px;
        padding-left: 120px;
        &-text{
          margin-bottom: 60px;
          .text{
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            color: $gray_line;
          }
          .subtext{
            margin-top: 8px;
            font-weight: 500;
            font-size: 20px;
            line-height: 160%;
            color: $brand_blue;
          }
        }

        &-contacts{
          margin-bottom: 20px;
          .social-items{
            display: flex;
            gap: 20px;
          }
          .phone{
            &-number{
              margin-top: 18px;
              font-weight: 500;
              font-size: 20px;
              line-height: 160%;
              display: flex;
              align-items: center;
              color: $gray_text;
              &:hover {
                color:$link-hover;
              }

            }
          }
        }
      }


      &-content{
        &::-webkit-scrollbar {
          display: none;
        }
        padding-left: 120px;
        padding-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .sidebar-menu {
          &-list {
            //display: grid;
            //flex-wrap: wrap;
            //grid-template-columns: repeat(1, minmax(50px, max-content));
            //column-gap: 53px;
            //row-gap: 12px;
            //justify-content: center;
            list-style-type: none;
            margin: 0;
            padding-inline-start: unset;
          }

          &-item {
            padding: 10px 3px;

            a {
              font-weight: 800;
              font-size: 24px;
              line-height: 160%;
              color: #424242;

              &:hover {
                color: $accent_orange;
              }
            }

            &.active {
              a {
                color: $accent_orange;
              }
            }

            .sidebar-submenu {
              display: block;
              padding: 5px;
              background-color: #FFFFFF;
              margin-top: 11px;

              &-item {
                list-style-type: none;

                a {
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 160%;
                  color: #7E92AE;

                  &:hover {
                    color: $accent_orange;
                  }
                }

                &.active {
                  a {
                    color: $accent_orange;
                  }
                }

                .sidebar-submenuTree {
                  padding: 5px 15px;

                  &-item {
                    list-style-type: none;

                    a {
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 160%;

                      &:hover {
                        color: $accent_orange;
                      }
                    }

                    &.active {
                      a {
                        color: $accent_orange;
                      }
                    }

                  }

                }

              }
            }
          }
        }
      }
      .slide-closebtn{
        border-right: 1px solid #C4D6E7;
        top: 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 12px;
        position: absolute;

        .slide-logo{
          position: absolute;
          top: 60px;
          img{
            width: 48px;
            height: 48px;
          }
        }

        .closebtn {
          font-size: 58px;
          cursor: pointer;
          background-color: transparent;
          color: $gray_text-2;
          border: none;
          font-weight: 200;
          transition: 120ms;
          padding: 10px;
          margin: auto;
          z-index: 100;
        }

        .closebtn:hover {
          transition: 120ms;
          color: $brand_blue;
        }

        &:hover {
          border-right: 1px solid $brand_blue;
        }

      }
    }


    @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
    }
  }



  @media (max-width: 1024px) {
    .header-inner {
      flex-wrap: unset;
      flex-direction: row;
    }

    .slide-menu{
      .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        transition: 0.5s;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        overflow: auto;


        &-top{
          display: flex;
          flex-wrap: wrap;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 20px;
          gap: 20px;
          &-text{
            margin-bottom: unset;
          }
        }


        &-content{
          &::-webkit-scrollbar {
            display: none;
          }
          overflow: unset;
          padding-top: unset;
          padding-bottom: 50px;
          display: flex;
          flex-wrap: wrap;
          padding-left: 15px;
          .sidebar-menu {
            &-list {
              display: grid;
              flex-wrap: wrap;
              grid-template-columns: repeat(1, minmax(50px, max-content));
              column-gap: 53px;
              row-gap: 12px;
              justify-content: center;
              list-style-type: none;
              margin: 0;
              padding-right: 15px;
            }
          }
        }
        .slide-closebtn{
          padding: 0  0 0 15px;
          border-right: unset;
          position: relative;

          .slide-logo{
            display: none;
          }
          .closebtn {
            margin: unset;
            padding: unset;
          }

        }
      }
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }
    }

  }



  @media (max-width: 914px) {
    .header-inner {
      justify-content: center;
      .slide-menu-button{
        border: unset;
        justify-content: flex-start;
        position: fixed;
        top: 34px;
        left: 32px;
        z-index: 1;
        height: auto;
        width: auto;
        padding: 9px;
        .openbtn{
          font-size: unset;
        }
      }
      .logo{
        align-items: center;
        flex-direction: column;
        &-img{
          width: 72px;
          height: 72px;
        }
        &-text{
          margin-top: 20px;
          text-align: center;
          margin-left: unset;
          &-title{
            font-size: 18px;
          }
          &-subtitle{
            display: none;
          }
        }
      }
      .contacts{
        .social-items{
          display: none;
        }
        .phone{
          margin-left: unset;
          &-number{
            display: none;
          }
          .btn{
            position: fixed;
            top: 43px;
            right: 32px;
            z-index: 10000;
            padding: 6px 15px;
            content: url("/img/subtract.svg");
          }
        }
      }
    }
  }
}

