main{
  &-content{
    display: none;
    .section{
      &-content {
        flex: 0 0 100%;
      }

      &-container {

      }

      &-body {

      }

      &-title {

      }

      &-text {

      }

      &-image {
        flex: 0 0 50%;
        img{
          max-width: 100%;
        }

      }
    }
  }

}