.groups-services{
  &-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
    gap: 20px;

  }
  &-item{
    background: #FFFFFF;
    border: 2px solid $brand_blue;
    border-radius: 8px;
    padding: 50px 130px;

    &-name {
      font-weight: 800;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: $black_text;
      margin-bottom: 22px;
    }

    .service {
      &-items{
        list-style-type: none;
        position: relative;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        li{
          margin-bottom: 22px;
        }
        li::before {
          content: '';
          position: absolute;
          background: url(img/Vector.svg) no-repeat center;
          left: -5px;
          height: 20px; width: 20px;
          text-align: center;
          padding-top: 18px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .groups-services {
    &-item {
      padding: 50px 70px;
    }
  }
}

@media (max-width: 768px) {
  .groups-services {
    &-item {
      padding: 25px;

      .service {
        &-items{
          font-size: 16px;
          }
        }
    }
  }
}


.container-tab{

}
/* TABS */
.accordion-tabs {
  *zoom: 1;
  width: 100%;
  border: 1px solid #B3C8DB;
  border-radius: 0.1875em;
  margin-bottom: 1.5em;
  margin-left:0;
  padding-left:0;
}
.accordion-tabs:before,
.accordion-tabs:after {
  content: " ";
  display: table;
}
.accordion-tabs:after {
  clear: both;
}
.tab-head-cont{
  list-style:none;
}
.accordion-tabs li.tab-head-cont:last-child a {
  border-bottom-left-radius: 0.1875em;
  border-bottom-right-radius: 0.1875em;
}
.accordion-tabs li.tab-head-cont a {
  text-decoration:none;
  border-top: 1px solid #B3C8DB;
  color: #888888;
  padding: 0.75em 1.9em;
  position: relative;
  display: flex;
}
.accordion-tabs li.tab-head-cont a:hover {
  color: #000000;
}
.accordion-tabs li.tab-head-cont a:focus {
  outline: none;
}
.accordion-tabs li.tab-head-cont a.is-active {
  background-color: #f7f7f7;
  border-bottom: 0;
  color:#333333;
}
.accordion-tabs li.tab-head-cont section {
  padding: 1.5em 1.618em;
  background: #f7f7f7;
  display: none;
  overflow: hidden;
  width: 100%;
}


@media (max-width: 640px) {
  /* TABS */
  .accordion-tabs {
    border: unset;
  }
  .tab-head-cont{
    border: 2px solid #B3C8DB;
    border-radius: 20px;
    margin-top: 10px;
  }
  .accordion-tabs li.tab-head-cont a.is-active{
    &:before {
      background: url(img/Caret_Down_SM.svg) no-repeat center;
    }
  }
  .accordion-tabs li.tab-head-cont a {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    border-radius: 20px;
    border-top: unset;
    &:before {
      content: '';
      position: absolute;
      background: url(img/Caret_Up_SM.svg) no-repeat center;
      right: 20px;
      top: 33%;
      height: 20px; width: 20px;
      text-align: center;
    }
  }
  .accordion-tabs li.tab-head-cont section {
    padding: 0.75em 0.809em;
    color: #424242;
    font-size: 20px;
    line-height: 120%;
    border-radius: 20px;
  }
}

/* RESPONSIVE */
@media screen and (min-width: 640px) {
  .accordion-tabs {
    border: none;
    position: relative;
  }
  .accordion-tabs li.tab-head-cont {
    display: inline;
  }
  .accordion-tabs li.tab-head-cont:last-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .accordion-tabs li.tab-head-cont a {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    border-left: 1px solid #B3C8DB;
    border-right: 1px solid #B3C8DB;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    background-color: #E8EEF4;
    color: #7E92AE;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
  }
  .accordion-tabs li.tab-head-cont a.is-active {
    background-color: #f7f7f7;
    border: 1px solid #B3C8DB;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: -1px;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    color: #424242;
  }
  .accordion-tabs li.tab-head-cont section {
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border: 1px solid #B3C8DB;
    float: left;
    left: 0;
    padding: 0.75em 0.809em;
    color: #424242;
    font-size: 20px;
    line-height: 160%;
  }
}

.tabs {
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>div {
  display: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  text-align: justify;
  color: #424242;
  border-top: 1px solid $gray_line;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid $gray_line;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  padding: 24px 120px;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: $black_text;
  opacity: 0.6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #E8EEF4;
}

.tabs>label:not(:first-of-type) {
  border-left: none;
  //padding: 24px 120px;
}

.tabs>input[type="radio"]:checked+label {
  background-color: transparent;
  border-bottom: transparent;
  opacity: 1;
  border-bottom: 1px solid $gray_background-2;
}

@media (max-width: 1024px) {
  .tabs>label {
    padding: 24px 30px;
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .tabs>label {
    padding: 24px 5px;
    font-size: 12px;
  }
}

.services {

  &-sections{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
    z-index: 0;
    @media (max-width: 1366px) {
      grid-auto-flow: row;
    }
  }

  &-books{
    grid-column: span 5;
    @media (max-width: 1366px) {
      grid-column: span 12;
    }
    width: 100%;
    max-width: 610px;
    padding: 32px 38px;
    background: #ffffff;
    border-radius: 4px;
    &-title{
      font-weight: 800;
      font-size: 24px;
      line-height: 160%;
      color: $gray_text;
      margin-bottom: 16px;
    }

    &-items{
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    &-item{
      width: 100%;
      img{
        width: 100%;
      }
    }

  }

  &-articles{
    grid-column: span 7;
    @media (max-width: 1366px) {
      grid-column: span 12;
    }
    width: 100%;
    max-width: 900px;
    padding: 32px 78px;
    background: #ffffff;
    border-radius: 4px;
    &-title{
      font-weight: 800;
      font-size: 24px;
      line-height: 160%;
      color: $gray_text;
      margin-bottom: 16px;
    }

    .services-articles-slider-wrap{
      position: relative;
      .swiper-slide{
        display: flex;
        gap: 50px;
        text-align: left;
        .text{
          .title{
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            margin-bottom: 12px;
          }
          .subtext{
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: $black_text;
          }
        }
        .img{
          max-width: 212px;
          max-height: 245px;
          width: 100%;
          height: 100%;
        }
      }
      .services-button-next{
        right: var(--swiper-navigation-sides-offset,-51px);
        width: 24px;
        color: $gray_line;
        &:hover{
          color:$link-hover;
        }
        --swiper-navigation-size: 30px;
      }
      .services-button-prev{
        left: var(--swiper-navigation-sides-offset,-51px);
        width: 30px;
        color: $gray_line;
        --swiper-navigation-size: 30px;
        &:hover{
          color:$link-hover;
        }
      }



    }

    @media (max-width: 768px) {
      .services-articles-slider-wrap{
        .swiper-slide{
          flex-direction: column-reverse;
          align-items: center;
        }
      }
    }
    @media (max-width: 425px) {
      padding: 16px 34px;
      .services-articles-slider-wrap{
        .services-button-next{
          display: none;
        }
        .services-button-prev{
          display: none;
        }
      }
    }


    .btns{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .btn{
        border-color: $gray-text-2;
        color: $gray-text-2;
        width: 100%;
        padding: 10px 0;
        max-width: 252px;
      }
    }

  }


  @media (max-width: 1600px) {
    &-books{
      max-width: unset;
    }
    &-articles{
      max-width: unset;
    }
  }

}
