/*variables*/
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 769px,
        lg: 1025px,
        xl: 1230px,
        xxl: 1400px
) !default;


$grid-gutter-width:24px !default;
$transition-base:all .25s ease-out !default;
$font-family-base:'Montserrat', sans-serif;
$brand_blue: #1772E1;
$black_text:#424242;
$black_text:#424242;
$link: #2E9DF2;
$link-hover: #FFA740;
$gray_text: #5F656C;
$gray_text-2: #7E92AE;
$gray_line: #B3C8DB;
$gray_background-1: #E8EEF4;
$gray_background-2: #F4F8FC;
$accent_orange: #FFA735;


//@import "scss/fonts";
@import "scss/header";
@import "scss/main";
@import "scss/services";
@import "scss/reviews";
@import "scss/items";
@import "scss/frontpage";
@import "scss/posts";
@import "scss/contact";
@import "scss/partners";
@import "scss/footer";



@mixin transition {
  transition:$transition-base;
}
@mixin color-transition {
  transition:color .25s ease-out !important;
}
@mixin clearfix {
  &:after {
    content:'';
    display:block;
    clear:both;
  }
}
.container-fluid {
  max-width: 1498px;
  margin:0 auto;
  padding: 0 30px 0 30px;
}

.container-second-fluid {
  max-width: 1220px;
  margin:0 auto;
  //padding: 0 30px 0 30px;
}

.container-header-fluid {
  max-width: 1600px ;
  margin:0 auto ;
  padding: 0 30px 0 30px ;
}

@media (max-width: 1740px){
  .container-fluid {
    max-width: 1498px ;
    margin:0 auto ;
    padding: 0 30px 0 128px ;
  }
  .container-second-fluid {
    max-width: 1498px ;
    margin:0 auto ;
    padding: 0 30px 0 128px ;
  }

  .container-header-fluid {
    max-width: 1600px ;
    margin:0 auto ;
    padding: 0 30px 0 128px ;
  }

}

@media (max-width: 1370px){
  .container-fluid {
    max-width: 1498px ;
    margin:0 auto ;
    padding: 0 19px 0 128px ;
  }
  .container-second-fluid {
    max-width: 1220px ;
    margin:0 auto ;
    padding: 0 19px 0 128px ;
  }

  .container-header-fluid {
    max-width: 1600px ;
    margin:0 auto ;
    padding: 0 19px 0 19px ;
  }

}

@media (max-width: 1024px){
  .container-fluid {
    max-width: 1498px ;
    margin:0 auto ;
    padding: 0 30px 0 102px ;
  }
  .container-second-fluid {
    max-width: 1220px ;
    margin:0 auto ;
    padding: 0 30px 0 102px ;
  }

  .container-header-fluid {
    max-width: 1600px ;
    margin:0 auto ;
    padding: 0 32px 0 32px ;
  }
}
@media (max-width: 914px){
  .container-fluid {
    max-width: 1498px ;
    margin:0 auto ;
    padding: 0 22px 0 22px ;
  }
  .container-second-fluid {
    max-width: 1220px ;
    margin:0 auto ;
    padding: 0 22px 0 22px ;
  }
}

@media (max-width: 425px){
  .container-fluid {
    max-width: 1498px ;
    margin:0 auto ;
    padding: 0 22px 0 22px ;
  }
  .container-second-fluid {
    max-width: 1220px ;
    margin:0 auto ;
    padding: 0 22px 0 22px ;
  }
}


* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  min-width:320px;
  font-size:14px;
  line-height:1.6;
  font-weight: normal;
  font-family: $font-family-base;
  margin: 0;
}
.all {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  min-height: 100%;
  height: auto;
  width:100%;
  min-width:320px;
  position:relative;
  overflow:hidden;
  background: linear-gradient(to bottom, #D4E6FF, $gray_background-2 450px);
  .wrapper {
    flex-grow: 1;
    overflow:hidden;
  }

  &.front-page{
    background: linear-gradient(180deg, #001A40 71px, #165DC5 369px, #F4F8FC 819px);
  }

  @media (max-width: 914px) and (max-height: 430px) {
    &.front-page {
      background: linear-gradient(180deg, #001A40 19px, #165DC5 207px, #F4F8FC 509px);
    }
  }

    @media (max-width: 425px){

    background: linear-gradient(to bottom, #D4E6FF, $gray_background-2 320px);

    &.front-page{
      background: linear-gradient(180deg, #001A40 36px, #165DC5 216px, #F4F8FC 519px);
    }
  }

}

.clearfix {
  clear:both;
  @include clearfix;
}

a {
  text-decoration:none;
  color:$link;

  &:hover {
    color:$link-hover;
    border-bottom-color:transparent;
    text-decoration:none;
  }

  &.link-icon{
    position: relative;
    padding-left: 35px;
    display: flex;
    &:before {
      content: '';
      position: absolute;
      background: url(img/VectorLink.svg) no-repeat center;
      left: -5px;
      height: 20px; width: 20px;
      text-align: center;
    }

    &:hover{
      &:before {
        background: url(img/link-hover.svg) no-repeat center;
      }
    }

  }

  @media (max-width: 640px) {
    &.tabs-icon .is-active {
      &:before {
        background: url(img/Caret_Down_SM.svg) no-repeat center;
      }
    }

    &.tabs-icon{
      position: relative;
      padding-left: 35px;
      display: flex;
      &:before {
        content: '';
        position: absolute;
        background: url(img/Caret_Up_SM.svg) no-repeat center;
        right: 20px;
        top: 33%;
        height: 20px; width: 20px;
        text-align: center;
      }
    }
  }

  &.site{
    position: relative;
    padding-left: 35px;
    &:before {
      content: '';
      position: absolute;
      background: url(img/site.svg) no-repeat center;
      left: -5px;
      height: 28px; width: 28px;
      text-align: center;
    }
  }

  &.skype{
    position: relative;
    padding-left: 35px;
    &:before {
      content: '';
      position: absolute;
      background: url(img/skype.svg) no-repeat center;
      left: -5px;
      height: 28px; width: 28px;
      text-align: center;
    }
  }

  &.tg{
    position: relative;
    padding-left: 35px;
    &:before {
      content: '';
      position: absolute;
      background: #38B4E3 url(img/social-tg.svg) no-repeat center;
      border-radius: 15px;
      left: -5px;
      height: 28px; width: 28px;
      text-align: center;
    }
  }

  &.phone{
    position: relative;
    padding-left: 35px;
    &:before {
      content: '';
      position: absolute;
      background: url(img/phone.svg) no-repeat center;
      left: -5px;
      height: 28px; width: 28px;
      text-align: center;
    }
  }

  &.email{
    position: relative;
    padding-left: 35px;
    &:before {
      content: '';
      position: absolute;
      background: url(img/email.svg) no-repeat center;
      left: -5px;
      height: 28px; width: 28px;
      text-align: center;
    }
  }

}

p {
  padding:0 0 12px 0;
  margin:0;
}

img {max-width:100%;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  padding: 0 0 10px 0;
  font-weight: normal;
  color: $black_text;
  text-align: left;
}

h1, .h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 38px;
}

@media (max-width: 425px){
  h1, .h1 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

h2, .h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
}
h3, .h3 {
  font-weight: 800;
  font-size: 38px;
  line-height: 120%;
}
h4, .h4 {
  font-weight: 800;
  font-size: 30px;
  line-height: 120%;
}
h5, .h5 {
  font-weight: 800;
  font-size: 24px;
  line-height: 160%;
}
h6, .h6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  text-transform: uppercase;
}

.btn {
  position: relative;
  text-decoration:none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  border: 1px solid $brand_blue;
  border-radius: 32px;
  padding: 5px 20px;
  gap: 4px;
  letter-spacing:0;
  color: #ffffff;
  background:$brand_blue;
  cursor:pointer;
  transition:all .25s ease-out;
  display: flex;
  justify-content: center;
  width: max-content;

  &:hover,&:hover:hover {
    background: $accent_orange ;
    border-color: $accent_orange;
    color: #ffffff;
  }

  &.active, &:active{
    background: $accent_orange ;
    border-color: $accent_orange;
    color: #ffffff;
  }

  &.disabled, &:disabled{
    background: $gray_line;
    border-color: $gray_line;
    color: #ffffff;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
    &:hover{
      background: $gray_line ;
      border-color: $gray_line;
    }
  }


  &-transparent{
    box-sizing: border-box;
    border: 1px solid $brand_blue;
    color: $brand_blue;
    background: transparent;
    border-radius: 5px;

    &:hover,&:hover:hover {
      color: $accent_orange;
      background: transparent;
      border-color: $accent_orange;
    }

    &.active, &:active{
      background: transparent;
      border-color:$accent_orange;
      color: $accent_orange;
    }

    &.disabled, &:disabled{
      background: transparent;
      border-color: $gray_line;
      color: $gray_line;
      pointer-events: none;
      &:hover{
        color: $gray_line;;
        border-color: $gray_line;
      }
    }

  }


  &-transparent-radius{
    box-sizing: border-box;
    border: 1px solid $brand_blue;
    color: $brand_blue;
    background: transparent;
    border-radius: 32px;

    &:hover,&:hover:hover {
      color: $accent_orange;
      background: transparent;
      border-color: $accent_orange;
    }

    &.active, &:active{
      background: transparent;
      border-color:$accent_orange;
      color: $accent_orange;
    }

    &.disabled, &:disabled{
      background: transparent;
      border-color: $gray_line;
      color: $gray_line;
      pointer-events: none;
      &:hover{
        color: $gray_line;;
        border-color: $gray_line;
      }
    }

  }
}

.slide-menu-button{
  border-right: 1px solid #C4D6E7;
  position: fixed;
  top: 0;
  display: flex;
  height: 100%;
  padding: 12px;
  left: 0;
  transition:all .25s ease-out;
  .openbtn {
    font-size: 38px;
    cursor: pointer;
    background-color: transparent;
    color: $gray_text-2;
    border: none;
    font-weight: 200;
    transition: 120ms;
    padding: unset;
    min-width: 40px;
  }

  &:hover {
    transition: 120ms;
    background-color: #ffffff;
    border-right: 1px solid $brand_blue;
    img{
      content: url("img/burger_blue.svg");
    }
  }

}

@media (max-width: 1740px){
  .slide-menu-button{
    width: 103px;
    justify-content: center;
    &:hover {
      transition: 120ms;
    }
  }
}

@media (max-width: 1370px){
  .slide-menu-button{
    width: 103px;
    justify-content: center;
    &:hover {
      transition: 120ms;
    }
  }
}

@media (max-width: 1024px){
  .slide-menu-button{
    width: 72px;
    justify-content: center;
    &:hover {
      transition: 120ms;
    }
  }
}

.social{
  &-ok{
    display: inline-block;
    background-color: #F7931E;
    width: 32px;
    height: 32px;
    background-image: url("img/social-ok.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    &:hover{
      opacity: 0.7;
    }
  }

  &-vk{
    display: inline-block;
    background-color: #4C75A3;
    width: 32px;
    height: 32px;
    background-image: url("img/social-vk.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    &:hover{
      opacity: 0.7;
    }
  }

  &-fb{
    display: inline-block;
    background-color: #157DC3;
    width: 32px;
    height: 32px;
    background-image: url("img/social-fb.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    &:hover{
      opacity: 0.7;
    }
  }

  &-tc{
    display: inline-block;
    width: 32px;
    background-image: url("img/social-tc.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover{
      opacity: 0.7;
    }
  }

  &-tg{
    display: inline-block;
    background-color: #38B4E3;
    width: 32px;
    height: 32px;
    background-image: url("img/social-tg.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    &:hover{
      opacity: 0.7;
    }
  }

  &-inst{
    display: inline-block;
    background-image: url("img/social-inst.svg");
    height: 32px;
    border-radius: 15px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:hover{
      opacity: 0.7;
    }
  }
  @media (max-width: 1280px) {
    &-ok {
      width: 24px;
      height: 24px;
    }

    &-vk {
      width: 24px;
      height: 24px;
    }

    &-fb {
      width: 24px;
      height: 24px;
    }

    &-tc {
      width: 24px;
    }

    &-tg {
      width: 24px;
      height: 24px;
    }

    &-inst {
      height: 24px;
      width: 24px;
    }
  }
}

.slider-list-row{
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 100%;
  }

  @media (max-width: 425px) {
    padding: unset !important;
  }


}

.pop-up-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
  text-align: center;
  .form-group{
    width: 100%;
    .btn{
      padding: 13px 49px;
      margin: auto;
    }
    .form-control{
      padding: 10px;
      background: #FFFFFF;
      height: 48px;
      width: 100%;
      border: 1px solid #B3C8DB;
      border-radius: 4px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: $gray_text-2;
    }
    .form-control-textarea {
      height: 128px;
    }
  }
}




.content-block-text {
  height: 150px;
  overflow: hidden;
  position: relative;
  transition: margin 0.3s;
}
.content-block-text-open {
  height: auto;
  margin-bottom: 50px;
}
.show-all{
  content: url("img/Arrow_Circle_Right.svg");

  &.active{
    transform: rotate(180deg)
  }
}
.content-block-text-shadow:after {
  content: "";
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 75%)
}
.show-all-container {
  position: absolute;
  right: 29px;
  bottom: 16px;
  display: none;
}
